nginx:
    image: nginx:latest
    ports:
        - '80:80'
    volumes:
        - ./nginx:/etc/nginx/conf.d
        - ./logs/nginx:/var/log/nginx
        - ./wordpress:/var/www/html
    links:
        - wordpress
    restart: always

db:
    image: mariadb
    ports:
      - '3306:3306'
    volumes:
      - ./wp-db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ wp_db_psw }}
    restart: always

wordpress:
    image: wordpress:{{ wp_version }}-{{wp_php}}-fpm
    ports:
      - '9000:9000'
    volumes:
      - ./wordpress:/var/www/html
    environment:
      - WORDPRESS_DB_NAME={{ wp_db_name }}
      - WORDPRESS_TABLE_PREFIX={{ wp_db_tb_pre }}
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_PASSWORD={{ wp_db_psw }}
    links:
      - mysql
    restart: always
    
backup:
  image: databack/mysql-backup
  restart: always
  volumes:
   - /home/z-mysql:/db
  environment:
   - DB_DUMP_TARGET=/db
   - DB_USER=root
   - DB_PASS={{ wp_db_psw }}
   - DB_DUMP_FREQ=1440
   - DB_DUMP_BEGIN=2330
   - DB_SERVER=mysql    